
/**
 * Based on the default jCarousel tango skin. Adapted for use with the Mini
 * Panels module by Wim Leers. GPL icons created by Kaj Heijmans.
 * Modified for Node Gallery by Justin Ellison
 */

.jcarousel-skin-tango .jcarousel-container-horizontal {
  width: 504px;
  height: 64px;
  padding: 10px 40px;
  margin: 10px auto;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
  width: 504px;
}

.jcarousel-skin-tango .jcarousel-item {
  padding: 0;
  width: 62px;
  height: 62px;
  overflow: hidden;
  border: 1px solid #CCC;
  list-style: none outside none;
  background: #fff none;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
  margin: 0 4px;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-prev-horizontal {
  position: absolute;
  top: 25px;
  left: 5px;
  background-position: 0 0;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
  background-position: -32px 0;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
  background-position: -64px 0;
}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
  cursor: default;
  background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal {
  position: absolute;
  top: 25px;
  right: 5px;
  background-position: 0 -32px;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
  background-position: -32px -32px;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:active {
  background-position: -64px -32px;
}
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
  cursor: default;
  background-position: -96px -32px;
}

a.imagecache-node-gallery-jcarousel-thumbnail_linked.active > img {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

